body{
	background-color: #1a1a1a;
margin:0;
top:0;
left:0;
}
.color{ background-color:orange;}
.f1{
	font-family:garamond;
	font-size:60px;
	color:#ff8000;
	
}
.page{
	background-color:white;
	height:500px;
}
.f1p{
	font-size:30px;
	color: #ffff33;
}
.width_limiter{
	
	    margin: auto;
    width: 100%;
    max-width: 1366px;
	
	margin-top:30px;
}
.page h1{
	font-style: italic;
	font-size:70px;
	color:yellow;
	margin
}
.page h2{
	font-style: Arial;
	font-size:50px;
	color:red;
}
.page h3{
	font-style: Oblique;
	font-size:40px;
	color:blue;
}
.page h4{
	font-family:garamond;
	font-size:40px;
	color:green;
}
.center
{
	text-align:center;
	
}
.lripsm
{
	text-align:justify;
	color:red;
	padding:50px;
}
.nav
{
	height:70px;
	margin-top:-20px;
}
.nav p {
	color:green;
	font-size:50px;
}
.site-footer, .width_limiter:after {

  height: 50px; 
}
.site-footer {
  background: #ff8000;
 -webkit-box-shadow: 0px 0px 100px -19px #ff8000;
-moz-box-shadow: 0px 0px 100px -19px #ff8000;
box-shadow: 0px 0px 100px -19px #ff8000;
}
.site-footer p {
	font-size:30px;
	font-family:garamond;
	font-weight: bold;
	
}
table {
	width:100%;
	height:auto;
	text-align:center;
	border:1px solid #ff8000;
	-webkit-box-shadow: 0px 0px 20px 1px #ff8000;
-moz-box-shadow: 0px 0px 20px 1px #ff8000;
box-shadow: 0px 0px 20px 1px #ff8000;
}
table tr th {
	background-color:#ff8000;
}
table tr td:first-child {
	background-color:#ff8000;
}
table tr th:first-child {
	background-color:#ff8000;;
}
table tr {
	background-color:white;
}
.hodina {
	color:black;
	font-size:20px;
	margin-bottom:-10px;
	font-weight:bold;
}
.cas {
	color:black;
	font-size:15px;
	
	
}
.cas1{
	color:black;
	font-size:15px;
	font-weight:bold;
	
}
ul{
	margin-left:50px;
}
li {
	margin:5px;
}
tr:nth-child(even){background-color: #f2f2f2}
.listy {
	margin-left:50px;
}
.listy h1 {
	color:red;
	font-size:30px;
	margin-left:60px;
}
.listy {
	font-size:25px;
}
.listy:before{
	color:red;
}
.yellow{
	color:yellow;
	font-size:30px;
}
.red{
	color:red;
	font-size:30px;
}
.blue{
	color:blue;
	font-size:30px;
}
.green{
	color:green;
	font-size:30px;
}