
body{
    background-color: #7c7c7c;
     
    
}
h1{
	font-size:64px;
	font-family:Garamond;
	color:#c3bc12;
	font-style:italic;
	text-align:center;
}

.center{
	
	text-align:center;
	margin:auto;
	padding-top:30px
	
}

table{
background-color: White ;
border-color: Grey;

}